.note{
    background-color: #fef68a;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 1rem;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
}

.note-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Provisional */
}
.delete-icon{
    font-size: 1.8rem;
    cursor: pointer;
}
.title{
    margin-bottom: 0;
}